# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: run

on:
  push:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
    - name: execute main.py
      run: |
        python src/main.py
    - name: Upload csv
      uses: actions/upload-artifact@v3.1.1
      with:
        path: "./bukken-*.csv"
    - name: Upload json
      uses: actions/upload-artifact@v3.1.1
      with:
        path: "./bukken-*.json"
